.output_terminal {
  position: relative;
  padding: 1rem;
  margin: 0rem;

  min-width: 12.5rem;
}

.box {
  width: 100%;
  max-height: 25rem;
  background: #eee;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  flex-direction: column-reverse;
  resize: vertical;
}

.ContainerListImage {
  width: 100%;
  max-height: 30rem;
  background: none;
  border-radius: 4px;
  padding-left: 16px;
  margin: 0;
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  flex-direction: column-reverse;
  resize: vertical;
}

.box::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.box::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.box::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.box::-webkit-scrollbar-corner {
  background: transparent;
  border-radius: 4px;
}

.box::-webkit-resizer {
  display: none;
}

.code {
  margin: 0.5rem;
  padding: 0;
  font-family: Roboto Mono, monospace;
  font-weight: 300;
}
.button__background {
  background-color: #f7fafc;
  border-color: #f7fafc;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
